/* General Styling */

/* Font Used */
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Poppins:wght@300;400;500;600&display=swap');


/* Page Dimensions */
* {
  box-sizing: border-box;
}


.logo {
    padding-top: 4px;
    width: 85px;
    height:auto;
}

body {
    background: linear-gradient(30deg, rgb(56, 55, 55), rgb(31, 19, 57));
    font-family: 'Poppins', sans-serif;
}


.title {
    color: white;
}


p {
    color: rgb(255, 255, 255);
}

/* DESKTOP NAV */



a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181);
    transition: .6s;

}

nav {
    border-radius: 5px;
    box-shadow: 0 0 12px -2px black;
    position:relative;
    left: 0;
    right: 0;
    align-items: center;
    background-color:transparent;
    display: flex;
    height: 80px;
    padding: 10px;
    justify-content: space-between;
}

.desktop-nav, .menu-links {
    flex-direction: row;
    gap: 3rem;
    list-style: none;
    font-size: 1.2rem;
    padding-right: 30px;
    
}

.menu-links li {
    display: inline;
    list-style: none;
    margin-right: 2rem
    

}


li a {
    color: rgb(160, 3, 3);

}

/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;   
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.setion__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
    color: black;
}

img {
    border-radius: 50%;
}


/* SOCIALS */

.social-icons {
    display: table;
    margin: 0 auto;
    padding-top: 40px;

}

.social-icons ul {
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-icons ul li {
    list-style: none;
    margin: 0 15px;
}

.social-icons ul li .fab {
    font-size: 35px;
    line-height: 60px;
    transition: .3s;
    color: #a39d9d;
}

.social-icons ul li .fab:hover {
    color:#fff;
}

.social-icons ul li a:hover {
    color:white;
}

.social-icons ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    transition: .6s;
}

.social-icons ul li a:hover {
    transform: translate(0,-10%);
}

/* Facebook */
.social-icons ul li:nth-child(1) a:hover {
    background-color: rgb(14, 14, 211);
}
/* Instagram */
.social-icons ul li:nth-child(2) a:hover {
    background-color: rgb(252, 99, 252);
}
/* Linkedin */
.social-icons ul li:nth-child(3) a:hover {
    background-color: rgb(10, 102, 194);
}
/* Github */
.social-icons ul li:nth-child(4) a:hover {
    background-color: rgb(36,41,46);
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, different color shows */
  input[type=submit]:hover {
    background-color: rgb(160, 3, 3);
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #c9c8c8a9;
    padding: 20px;
  }
  